main, body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", serif;
    font-style: normal;
    font-size: 1.1rem;
    align-items: center;
    background-color: #F2F2F2;
}

main {
    display: grid;
    justify-items: center;
}

.content {
    width: 75%;
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .content {
        width: 90%;
        display: block;
    }
}

.mainContent {
    display: block;
    width: 100%;
}

.articleCard {
    background-color: white;
    width: 100%;
    height: fit-content;
    padding-bottom: 2rem;
    border-top-color: #43BDFF;
    border-top-style: solid;
    border-top-width: 0.2rem;
    margin-bottom: 3rem;
}

.articleCard img {
    width: 100%;
    margin-bottom: 1rem;
}

.articleText {
    padding: 1rem;
}

.articleHeading {
    font-size: 1.5rem;
}

.category {
    padding-left: 1rem;
    color: #747474;
}

.briefingText {
    color: #747474;
}

.sidebar {
    display: block;
    padding-left: 3rem;
    width: 40%;
}

.briefing {
    background-color: white;
    margin-bottom: 3rem;
    border-top-color: #43BDFF;
    border-top-style: solid;
    border-top-width: 0.2rem;
}

@media only screen and (max-width: 1000px) {
    .briefing {
        display: none;
    }
}

.briefing h3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

.subscribeAd {
    background-color: #43BDFF;
    padding: 1rem;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 1000px) {
    .subscribeAd {
        display: none;
    }
}

.subscribeButton {
    background-color: #2E318A;
    color: white;
    text-align: center;
    padding: 1rem;
}

.articleLink {
    padding: 1rem;
    display: flex;
    text-align: left;
    justify-content: space-between;
    border-style: solid;
    border-color: #CCCCCC;
    margin-bottom: 0.5rem;
}

.articleLink svg {
    align-self: center;
}

.breaking {
    font-family: "Jaro", sans-serif;
    color: red;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    background-color: white;
    justify-items: space-between;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    color: #747474
}

.navbar a:visited {
    color: black;
}

.navbar a:link {
    color: black;
}

nav {
    display: flex;
    align-items: center;
    width: 75%;
    color: black;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    nav {
        width: 90%;
    }
}

nav img {
    width: 15%;
    margin-right: 1rem;
}

.navContainer {
    background-color: white;
    width: 100%;
    display: grid;
    justify-items: center;
    padding-top: 0.5rem;
    margin-bottom: 3rem;
    border-bottom-style: solid;
    border-bottom-color: #43BDFF;
    border-bottom-width: 0.3rem;
}

@media only screen and (max-width: 1000px) {
    .navContainer li {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    nav {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1000px) {
    .navContainer img {
        width: 20%;
    }
}

@media only screen and (min-width: 1000px) {
    .navContainer svg {
        display: none;
    }
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: rgb(239, 239, 239);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown {
    position: relative;
    display: flex;
    cursor: pointer;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent a {
    width: 75%;
    text-align: left;
    float: left;
    font-size: 16px;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}

.dropdownContent a:hover {
    background-color: red;
}

.mobileNav {
    display: flex;
    justify-content: center;
    justify-self: right;
}

.sidePanelDropdownBtn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: #818181;
}

.sidePanelDropdownBtn:hover {
    color: #f1f1f1;
}

.activeDropdown {
    background-color: darkgrey;
    color: white;
}

.sidePanelDropdownContainer {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidePanelMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #c6c6c6;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidePanelMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #181818;
    display: block;
    transition: 0.3s;
}

.sidePanelMenu a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.openbtn {
    font-size: 50px;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 15px;
    border: none;
    justify-self: right;
}

.sidePanelDropdownBtn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    color: #181818;
}

.activeDropdown {
    background-color: darkgrey;
    color: white;
}